{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</tr>
    {% for cruise in cruise_list %}
        <tr class="{% cycle 'bg-secondary' 'bg-light' %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ cruise.name }}</td>
        <td><a href="{{ port.get_absolute_url }}">zmien</a> </td>
        <td>
            <form action="{% url 'cruise_detail' cruise.id %}" method="get"> {% csrf_token %}
                <input type="submit"></form>
        </td>

    </tr>
    {% endfor %}
    </ul>
</body>
</html>
{%  endblock %}