{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <tr>
        <th>Lp</th>
        <th>Nazwa</th><br>
    </tr>
    {% for port in port_list %}
        <tr class="{% cycle 'bg-secondary' 'bg-light' %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ port.name }}</td>
        <td>
            <form action="{% url 'port_detail' port.id %}" method="get"> {% csrf_token %}
                <input type="submit">Opis Portu</form>
        </td>
        <td>
            <form action="{% url 'update_port' port.id %}" method="get"> {% csrf_token %}
                <input type="submit">Uaktualnij</form>
        </td>


    </tr>
    {% endfor %}
</body>
</html>
{% endblock %}