{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</tr>
    {% for route in route_list %}
        <tr class="{% cycle 'bg-secondary' 'bg-light' %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ route.name }}</td>
        <td>{{ route.crew }}</td>
        <td>{{ route.stop_list }}</td>
        <td>{{ route.user }}</td>

    </tr>
    {% endfor %}
    </ul>
</body>
</html>
{% endblock %}